[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = ">=0.6.0"
fritzconnection = ">=1.0.0"
pyyaml = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
