{{- if .Values.createConfigSecret }}
{{- if not .Values.config }}
{{- fail "missing config in values.yaml." }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "fritz-exporter.fullname" . }}-config
  labels:
    {{- include "fritz-exporter.labels" . | nindent 4 }}
data:
  config.yaml: {{ .Values.config | toYaml | b64enc }}
{{- end }}
