[Unit]
Description=fritz.box Exporter

[Service]
Environment=FRITZ_EXPORTER_CONFIG="192.168.178.1,user1,password1"
User=lee
ExecStart=/home/lee/src/fritzbox_exporter/venv/bin/python3 /home/lee/src/fritzbox_exporter/fritz_exporter.py

[Install]
WantedBy=default.target
