[Unit]
Description=Fritz Exporter

[Service]
Environment=FRITZ_USERNAME="user1",FRITZ_PASSWORD="mypassword"
User=lee
ExecStart=/home/lee/src/fritzbox_exporter/venv/bin/python3 -m fritz_exporter

[Install]
WantedBy=default.target
