name: Build Docker image

on:
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  build-docker:
    runs-on: ubuntu-latest
    name: Build Docker Image (release)
    env:
      DOCKERHUB_USERNAME: pdreker
      IMAGE: fritz_exporter
    steps:
      - uses: actions/checkout@v3
      - name: generate docker tags
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Setup poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.2.1
      - name: generate requirements.txt
        run: poetry export -f requirements.txt --output requirements.txt
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          context: .
          platforms: linux/arm/v6,linux/arm/v7,linux/amd64,linux/arm64/v8
          tags: ${{ steps.meta.outputs.tags }}
