name: Build and Push Trunk

on:
  push:
    branches: [main]

jobs:
  build-trunk:
    runs-on: ubuntu-latest
    name: Build Trunk
    steps:
      # Prepare Environment
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.MASTER_PUSH_TOKEN }}
          fetch-depth: 0
      - name: Set Environment Variables
        uses: ./.github/actions/setenv
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Setup poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
      - name: build Python wheels
        run: poetry build
      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY_HOST }}
          username: ${{ env.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_HUB }}

      - name: generate docker tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKER_REGISTRY_HOST }}/${{ env.DOCKER_REGISTRY_REPO }}/${{ env.DOCKER_REGISTRY_IMAGE }}
          tags: |
            type=raw,value=develop
      # Build Docker Images (amd64 and arm64)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          platforms: linux/amd64,linux/aarch64
          tags: ${{ steps.meta.outputs.tags }}
